config mqtt_subscriber 'mqtt_subscriber_sct'
    option 'enable' 0
    option 'host' 'localhost'
    option 'port' 8883
config topic
    option 'topic' 'new'
    option 'qos' 0
config topic
    option 'topic' 'new/one'
    option 'qos' 1
config topic
    option 'topic' 'new/two'
    option 'qos' 0
config event
    option 'topic' 'new'
    option 'parameter' 'a'
    option 'type' 'int'
    option 'operator' '>'
    option 'expected_value' '10'
    option 'email' 'noreply@teltonika.lt'
    option 'receivers' 'jj.was.taken.was.taken@gmail.com'