config mqtt_subscriber 'mqtt_subscriber_sct'
    option 'enable' 0
    option 'host' 'localhost'
    option 'port' 1883
    option 'ca_file' '/etc/certificates/cert.cert.pem'
    option 'username' 'admin'
    option 'password' 'admin'
    option 'use_tls' '1' 
config topic
    option 'topic' 'new'
    option 'qos' 0
config topic
    option 'topic' 'new/one'
    option 'qos' 1
config topic
    option 'topic' 'new/two'
    option 'qos' 0
config event
    option 'topic' 'new'
    option 'parameter' 'a'
    option 'type' '0'
    option 'operator' '0'
    option 'expected_value' '10'
    option 'email' 'jj'
    option 'receiver' 'justinas.janusas@teltonika.lt'
config event
    option 'topic' 'new'
    option 'parameter' 'numeris'
    option 'type' '0'
    option 'operator' '2'
    option 'expected_value' '20'
    option 'email' 'jj'
    option 'receiver' 'simple@simple.com'
config event
    option 'topic' 'new/two'
    option 'parameter' 'ahaha'
    option 'type' '1'
    option 'operator' '1'
    option 'expected_value' 'ok'
    option 'email' 'jj'
    option 'receiver' 'to@example.com'
